.header_container{

    height: 100%;

    display: flex;
    gap: 8px;
    align-items: center;
}

.header_logo{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
}

/*Tablet*/
@media only screen and (max-width: 839px) {

    .header_container{
        justify-content: center;
    }

    .header_title{
        display: none;
    }
}

/*Mobile*/
@media only screen and (max-width: 599px) {
    .header_title{
        display: none;
    }
}