.saving-card{
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 500px;
}

.saving-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saving-progress-bar{
    margin: 4px 2px 2px 2px;
}

.icon-button{
    margin: -5px !important;
}

.rotate-270{
    transform:rotate(270deg);
}

.rotate-90{
    transform:rotate(90deg);
}

.saving-name{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.right-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}